<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebRTC demo</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    </style>


    <script src="/jquery/jquery.min.js"></script>

    <script type="text/javascript">
      var webSocket;
      var peerConnections = {};
      var streams = {};

      var mediaRequest = {
        audio:true,
        video:true
      };

      var constraints ={ mandatory: { OfferToReceiveAudio: true, OfferToReceiveVideo: true } };


      function createVideo(id,src){
	var html =  '';
	html += '<div class="col-md-6" id="stream-'+id+'" >';
      	html += '<video style="width:100%" src="'+src+'" autoplay="autoplay" ' + (id == 'this' ? 'muted' : '')+  '/>';
	html += '</div>';
	$("#streamContainer").append($(html));
      }


      function onStreamArrived(id, stream){
	  console.log(id, stream);
          var src = window.URL.createObjectURL(stream);
	  createVideo(id,src);
          streams[id] = stream;
          console.log(stream);
      }

      function startSignalingProtocol(){
          webSocket.send(JSON.stringify({
             type:'ping'
          }));
      }


      function getUserMedia(){
          navigator.mediaDevices.getUserMedia(mediaRequest).then(function(stream) {
            onStreamArrived('this', stream);
            startSignalingProtocol();
          }.bind(this)).catch(console.log);
      }

      function createOffer(id, stream){
          var peerConnection = peerConnections[id];
          peerConnection.addStream(stream);
          peerConnection.createOffer(function (lsd) {
              peerConnection.setLocalDescription(lsd, function() {
                  webSocket.send(JSON.stringify({
		      to: id,
                      type : "offer",
                      content : lsd
                  }));
              }, console.log);
            }, console.log,constraints);
      }

      function createAnswer(id, stream){
	console.log('creating answer', id, stream);

          var peerConnection = peerConnections[id];
          peerConnection.addStream(stream);
          peerConnection.createAnswer(function (lsd) {
              	console.log('answer created');
	      peerConnection.setLocalDescription(lsd, function() {
                  webSocket.send(JSON.stringify({
		      to: id,
                      type : "answer",
                      content : lsd
                  }));
              }, console.log);
            }, console.log,constraints);
      }

      function createPeerConnection(id){
        var peerConnection = new RTCPeerConnection({
            iceServers : [
                {
                    urls : "stun:stun.iptel.org"
                },
                {
                    urls : "stun:stun.ekiga.net"
                },
                {
                    urls : "stun:stun.fwdnet.net"
                },
                {
                    urls : "stun:stun.ideasip.com"
                }
            ]
        });

        peerConnection.onicecandidate = function(event) {
            if (event.candidate) {
                var msg = {
                    type : "iceCandidate",
                    content : event.candidate
                }
                webSocket.send(JSON.stringify(msg));
            }
        }

        peerConnection.onaddstream = function (e) {
            onStreamArrived(id, e.stream);
        };

       peerConnection.onaddstream = function (e) {
            onStreamArrived(id, e.stream);
        };

	peerConnection.oniceconnectionstatechange = function() {
	    if(peerConnection.iceConnectionState == 'disconnected') {
		    	  $('#stream-'+id).remove();
	    }
	}


        peerConnections[id] = peerConnection;
      }
        function wsurl(s) {
            var l = window.location;
            return ((l.protocol === "https:") ? "wss://" : "ws://") + l.hostname + (((l.port != 80) && (l.port != 443)) ? ":" + l.port : "") + s;
        }


      $( document ).ready(function() {
        if ("WebSocket" in window){
           webSocket = new WebSocket(wsurl("/ws"));

           webSocket.onopen = function() {
              getUserMedia();
           };


           webSocket.onmessage = function (evt) {
              console.log(JSON.stringify(received_msg));
              var received_msg = JSON.parse(evt.data);
              switch(received_msg.type){
                case 'ping':
                  createPeerConnection(received_msg.from);
                  webSocket.send(JSON.stringify({
                     to:received_msg.from,
                     type:'pong'
                  }));
                break;
                case 'pong':
                  createPeerConnection(received_msg.from);
                  createOffer(received_msg.from,streams['this']);
                break;
		case 'offer':
		  var rsd = new RTCSessionDescription(received_msg.content);
		  peerConnections[received_msg.from].setRemoteDescription(rsd, function(){
		  },console.log);
		  createAnswer(received_msg.from, streams['this']);
		break;
		case 'answer':
		  var rsd = new RTCSessionDescription(received_msg.content);
		  peerConnections[received_msg.from].setRemoteDescription(rsd, function(){
  
		  },console.log);
 
		break;
		case  'iceCandidate':
                  var candidate = new RTCIceCandidate(received_msg.content);
		  peerConnections[received_msg.from].addIceCandidate(candidate, function() {

		  }, console.log);
		break;
              }
           };

           webSocket.onclose = function() {
              alert("Connection is closed...");
           };

           window.onbeforeunload = function(event) {
              webSocket.close();
           };
        }
        else {
           // The browser doesn't support WebSocket
           alert("WebSocket NOT supported by your Browser!");
        }
      });

	    </script>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WebRTC demo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row" id="streamContainer">
       
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
